#Top_navbar
{
   height: 150px;
   width:95%;
   display: flex;
   position: fixed;
   background-color: rgba(100, 100, 100, 0);
   top: 10px;
}
#img
{
   margin-left: 70px;
   background-color: rgba(100, 100, 100, 0);
   font-size: 120px;
   position:relative;
   bottom: 85px;
}
#opt
{
   height: 50%;
   width:5%;
   font-size: 30px;
   border: 0px;
   background-color: rgba(100, 100, 100, 0);
} 
#navbar > img
{
   margin-left: 50px;
   background-color: rgba(100, 100, 100, 0);
}
#sear
{
   height: 40%;
   margin-left: 600px;
   border: 0px;
   background-color: rgba(100, 100, 100, 0);

}
#help
{
   height: 30%;
   color:grey;
   border:0px;
   background-color: rgba(100, 100, 100, 0);
   margin: 0px 20px 0px 230px;
   
}
#cart
{
   height: 40px;
   width: 50px;
   border: 0px;
   background-color: rgba(100, 100, 100, 0);
   font-size: 25px;
}

form
{
font-family: Arial, Helvetica, sans-serif;
}
.line
{
outline: 0;
border-width: 0 0 2px;
font-size: 12px;
width: 100%;
}
#forget-pswd
{
border: 0px;
font-size: 10px;
color: grey;
background-color: white;
width: 100%;
margin-bottom: 30px;
}
#par-form
{
height: 230px;
margin-top: 250px;
display: flex;
}
#child_1
{
height: 100%;
width: 250px;
margin:0px 250px 0px 160px;

}
#log-in
{
height: 30px;
width: 100%;
color: white;
background-color: black;
font-family:roman Bold ;
margin-top: 10px;
}
#child_2
{
height: 100%;
width: 400px;
}
#head
{
font-size: 20px;
}
.create_account
{
width:250px ;
color: white;
background-color: black;
height: 30px;
margin-top: 65px;
text-align: center;

}
.text
{
font-size: 12px;
color: grey;
margin-top: 20px;
}
#clr
{
color: black;
}
alert
{
   color: red;
}
.create_account a{
 text-decoration: none;  
 color: white;
}
#img a
{
   text-decoration: none;
   color: black;
}
